* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	height: 100vh;
}

body p, body h1, body h2, body h3, body h4, body h5, body h6 {
	font-family: 'Roboto', sans-serif;

}

nav {
	border-bottom: 1px solid gray;
}

#jumbotron-home-bg {
	background-image: url('../images/home-jumbotron.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 2;
}

#jumbotron-courses-bg {
	background-image: url('../images/courses-jumbotron.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 2;
}

#jumbotron-course-bg {
	background-image: url('../images/course-jumbotron.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 2;
}

#jumbotron-profile-bg {
	background-image: url('../images/profile-jumbotron.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 2;
}

#nav-logo-home {
  height: 50px;
  width: 50px;
  margin: -10px -10px;
}

#card-home {
	height: 45vh;
	box-shadow: 10px 10px #a1a1a1;
}

#card-courses {
	height: 35vh;
	overflow: auto;
}

.card-img-top {
	height: 220px;
	width: 100%;
	border-bottom: 1px solid #808080;
	}

footer {
	bottom: 0;
	width: 100%;
}

#jumbotron-course-bg {
	height: 40vh;
}

#jumbotron-profile-bg {
	height: 40vh;
}

#courseContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 200px;
}

#profileContent {
	position: absolute;
	left: 0;
	right: 0;
	top: 200px;
}
